/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
	margin: 0px;
	padding: 0px;
}



.map {
	position: absolute;
	width: 100%;
	height:100%;
	padding: 0px;
}

a,
a:hover,
a:focus {
    color: inherit; /*inherite hace que tome el valor del padre*/
    text-decoration: none;
    transition: all 0.3s;
}

.navbar { /*fondo del boton*/   
    background-color: transparent;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 10px;
    border-bottom: 1px dashed black;
    margin: 10px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	
	padding-top: 0px;
	padding-bottom: 0px;
    display: flex;
    width: 100%;
    align-items: stretch;
	background-color: #fafafa;
}

#sidebar {
	width: 100%;
    min-width: 250px;
    max-width: 250px;
    background: #ebebeb; /*color fondo botones*/
    color: white; /*titulo*/
    transition: all 0.3s;
	position: relative;
	padding: 0px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header { /*titulo*/
    padding: 2px; 
    background: #535c96; 
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p { /*sub titulo*/
    color: #fafafa; 
    padding: 1px;
	font-size: 0.9em;
}

headingOne {
	background-color: red;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5; /*texto cuando pasa el mouse*/
    background: #bbbdc7; /*fondo cuando pasa el mouse*/
}
/*boton submenu*/
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #7386D5; 
    background: #ebebeb;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*flecha de submenu*/
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #7386D5;
}

checkbox {
	margin: 1px;
}


/*boton descargar*/
a.download {
    background: #aaaa;
    color: #7386D5;
}
/*boton ir a*/
a.article,
a.article:hover {
    background: #aaaa !important;
    color: #fff !important;
}

unstyledCTAs{
    padding: 20px;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*fondo del boton SIG*/
#content {
    width: 50%;
	margin: 2px;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}